* {
    margin: 0%;
    padding: 0%;
}


/* NAvBar */
.navbar {
    display: block;
    background-image: linear-gradient(to bottom right, red, rgb(0, 0, 0));
    margin-bottom: 2%;
}
.FormLogoAndHeads {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.AhlyFansHead {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 100%;
    margin-right: 25px;
}
.NavBarLinks {
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
}




/* Section */
.carousel-inner img {
    display: flex;
    position: relative;
    float: right;
    margin-right: 2%;
    z-index: 1;
    width: 96%;
  }
  .GreatestClubImg {
    position: absolute;
    z-index: 2;
    height: 25%;
  }





