* {
    margin: 0%;
    padding: 0%;
}
.Bodyyy {
    background-color: rgb(0, 0, 0);
}

/* NAvBar */
.navbar {
    display: block;
    background-image: linear-gradient(to bottom right, red, rgb(0, 0, 0));
    margin-bottom: 2%;
}
.Saleh_selim {
    display: block;
    align-items: center;
    /* margin: auto; */
}
.Ahly_saleh_img {
    width: 35%;
}
.Ahly_saleh_title1 {
    color: white;
}
.FormLogoAndHeads {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.AhlyFansHead {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 100%;
    margin-right: 25px;
}
.NavBarLinks {
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
}




/* Carousel */
.carousel-inner img {
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;
    /* float: right; */
    /* margin-right: 2%; */
    z-index: 1;
    width: 90%;
  }
  .carousel-caption {
    position: absolute;
    align-items: center;
    margin: auto;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.784);
    width: 35%;
  }



/* Head */
  .Section_Head {
    margin-top: 5%;
    margin-bottom: 2%;
}
.Section_title {
    text-align: center;
    font-family: lato;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0), rgb(0, 0, 0));
    padding: 20px;
    border-radius: 10px;
}
.Section_title:hover {
    color: #000000;
}




 
  /* Small cards */
.SmallCardssss {
    box-shadow: 5px 5px 10px red;
  }
.SmallCardImg {
    height: 300px;
}
.card-body {
    text-align: right;
}





/* Big Cards */
.BigCards {
    box-shadow: 5px 5px 10px red;
}
.card-body1 {
    text-align: center;
}
.SmallCardImg1 {
    height: 400px;
}



/* Validation Form */
.FormValidation {
    text-align: right;
}
.FormLabel {
    color: white;
}




  /* Footer */
  .Footerr {
    background-image: linear-gradient(to bottom right, black, red, rgb(0, 0, 0));

  }





